<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="/static/js/jquery/jquery.min.js"></script>
    <script src="/static/js/echarts/echarts.simple.min.js"></script>
</head>
<body>
<form action="">
    <select name="days" id="days">
        <option value="">最近X天的数据</option>
        <option value="1">1天</option>
        <option value="7">7天</option>
        <option value="10">10天</option>
        <option value="15">15天</option>
        <option value="20">20天</option>
        <option value="30">30天</option>
    </select>
</form>
<div id="unit_price_chart" style="width: 900px;height:560px;"></div>
</body>
<script type="text/javascript">

    function formatDateTime(inputTime) {
        var date = new Date(inputTime);
        var y = date.getFullYear();
        var m = date.getMonth() + 1;
        m = m < 10 ? ('0' + m) : m;
        var d = date.getDate();
        d = d < 10 ? ('0' + d) : d;
        var h = date.getHours();
        h = h < 10 ? ('0' + h) : h;
        var minute = date.getMinutes();
        var second = date.getSeconds();
        minute = minute < 10 ? ('0' + minute) : minute;
        second = second < 10 ? ('0' + second) : second;
        return y + '-' + m + '-' + d + ' ' + h + ':' + minute + ':' + second;
    }

    var unit_price_chart = echarts.init(document.getElementById('unit_price_chart'));
    $.get('MainChartApi/').done(function (result) {
        main_data = result.data;
        xAxis = new Array();
        yAxis = new Array();
        for (var i = 0; i < main_data.length; i++) {
            if (main_data[i]['unit_price']) {
                xAxis.push(formatDateTime(main_data[i]['push_timestrap'] * 1000));
                yAxis.push(main_data[i]['unit_price']);
            }
        }
        unit_price_chart.setOption({
            title: {
                text: '最低价格变化曲线'
            },
            tooltip: {},
            xAxis: {
                type: 'category',
                data: xAxis,
            },
            yAxis: {
                type: 'value',
                min: 'dataMin',
            },
            series: [{
                name: '价格',
                type: 'line',
                data: yAxis
            }]
        });
    });
</script>
</html>